 body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0 60px;
    padding: 60px;
     
}
h1 {
 margin: 60px 0 80px;
}
h2{
    margin: 10px 0 30px;  
}
.back-to-dashboard {
    margin: 10px 0 30px;   
}
 
.array-img{
    width: 50px;
    padding: 0 0 32px 0; 
    margin:40px 20px 20px 10px;
}
.profile-card {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url("/images/iconoir_profile-circle.svg");
    margin: 0 40px 40px 0;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.name, .phone-number {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    outline: none;
}

.phone-number {
    font-size: 16px;
    margin: 5px 0 0 0;
}

.child-info {
    margin-top: 40px;
    width: 300px;
}

.child-name {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px 0;
    cursor: pointer;
}
 
.dropdown {
    position: relative;
    display: inline-block;
    width: 80%;
    margin-top: 20px;
}

.dropdown-checkbox {
    display: none;
}

.dropdown-button {
    width: 100%;
    padding: 10px;
    border: 1px solid #DDF0F5;
    border-radius: 4px;
    background-color: #40A2E3;
    cursor: pointer;
    text-align: left;
    display: block;
}
.dropdown-button:hover {
    background-color: #BBE2EC !important;
    border: #BBE2EC; 
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #fafafa;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
    margin-top: 5px;
}

.dropdown-content .table {
    width: 100%;
    border-collapse: collapse;
}

.dropdown-content .table th, .dropdown-content .table td {
    border: 1px solid #b8b8b8;
    padding: 8px;
    text-align: center;
}

.dropdown-content .table th {
    background-color: #ffffff;
}

.dropdown-content .table tr:hover {
    background-color: #f1f1f1;
}

.dropdown-checkbox:checked + .dropdown-button + .dropdown-content {
    display: block;
}

.dropdown-content .table th, .dropdown-content .table td {
    width: 12.5%;
}

.dropdown-content .table th:first-child, .dropdown-content .table td:first-child {
    width: 15%;
}
/* .schedule {
     
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000;
    padding: 50px;
    text-align: left;
} */
/* Surface Pro 7, Nest Hub Max, ASUS ZenBook Fold */
@media (max-width: 1280px) {
    .profile-card {
        flex-direction: column;
        align-items: flex-start;
    }
    .avatar {
        margin: 0 0 20px 0;
    }
}

/* iPad Pro, Nest Hub */
@media (max-width: 1024px) {
    .profile-card {
        flex-direction: column;
        align-items: flex-start;
    }
    .avatar {
        margin: 0 0 20px 0;
    }
}

/* iPad Mini, iPad Air, Surface Duo, Galaxy Z Fold 5, Samsung Galaxy A51/A71 */
@media (max-width: 830px) {
    .profile-card {
        flex-direction: column;
        align-items: flex-start;
    }
    .avatar {
        margin: 0 0 20px 0;
    }
}

/* iPhone SE, iPhone XR, iPhone 12 Pro, iPhone 14 Pro Max */
@media (max-width: 550px) {
    .profile-card {
        flex-direction: column;
        align-items: flex-start;
    }
    .avatar {
        margin: 0 0 20px 0;
    }
}

/* Google Pixel 7, Samsung Galaxy S8+, Samsung Galaxy S20 Ultra */
@media (max-width: 412px) {
    .profile-card {
        flex-direction: column;
        align-items: flex-start;
    }
    .avatar {
        margin: 0 0 20px 0;
    }
    body {
        width: 95%;
    }
}
